body {
	margin: 0;
	/* background-color: rgb(85, 107, 231); */
	padding: 0px;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	width: 100%;
	background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%),
		linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em,
		radial-gradient(at 50% 0, #484847, #090909);
	background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
}

h1.pouring {
	font-size: 55px;
	line-height: 70px;
	letter-spacing: 5px;
	font-weight: 900;
	position: relative;
	margin-bottom: 50px;
	overflow: hidden;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	text-shadow: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: radial-gradient(
		circle,
		rgba(131, 58, 180, 1) 0%,
		rgba(255, 0, 0, 1) 58%,
		rgba(252, 176, 69, 1) 100%
	);
	background-size: 3em 3em;

	animation-name: ani;
	animation-duration: 5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes ani {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

h1 {
	text-align: center;
	font-weight: bold;
	font-family: "Russo One", sans-serif;

	max-width: 1000px;
}

h1.success {
	color: green;
	font-size: 50px;
}

h1.error {
	color: red;
	font-size: 50px;
}

.google-btn {
	width: 184px;
	height: 42px;
	background-color: #4285f4;
	border-radius: 2px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
	display: flex;
	margin-bottom: 50px;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
	position: relative;
}

.google-btn .google-icon-wrapper {
	margin-top: 1px;
	margin-left: 1px;
	margin-bottom: 1px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background-color: #fff;
}

.google-btn .google-icon {
	position: absolute;
	margin-top: 11px;
	margin-left: 11px;
	width: 18px;
	height: 18px;
}

.google-btn .btn-text {
	margin-left: 10px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.2px;
	font-family: "Roboto", sans-serif;
}

.google-btn:hover {
	box-shadow: 0 0 20px #4285f4;
}

.google-btn:active {
	background: #1669f2;
}
.sticker {
}
